<script type="text/javascript">
  <% if logged_in? %>
    window.currentUser = <%= render("api/users/user.json.jbuilder",
      user: current_user).html_safe %>
  <% end %>
</script>


<!-- GoogleBooks API -->

<!-- <script type="text/javascript" src="https://www.google.com/books/jsapi.js"></script>

<script>
  function appendResults(text) {
    var results = document.getElementById('results');
    results.appendChild(document.createElement('P'));
    results.appendChild(document.createTextNode(text));
  }

  function makeRequest() {
    var request = gapi.client.urlshortener.url.get({
      'shortUrl': 'http://goo.gl/fbsS'
    });
    request.then(function(response) {
      appendResults(response.result.longUrl);
    }, function(reason) {
      console.log('Error: ' + reason.result.error.message);
    });
  }

  function init() {
    gapi.client.setApiKey('AIzaSyBbbpiWzDh-mqP6XlHqVZYl8A3R2wqhc0Y');
    gapi.client.load('urlshortener', 'v1').then(makeRequest);
  }

  gapi.load('client', init);
</script> -->

<!-- end of GoogleBooks -->

<div id='main'></div>

<!-- APIKey = AIzaSyBbbpiWzDh-mqP6XlHqVZYl8A3R2wqhc0Y -->
