.author-show-page img {
  border: 2px solid black;
  height: 400px;
  width: auto;
  float: left;
  margin-top: 30px;
}

.author-show-page span {
  float: left;
  margin-top: 30px;
  margin-left: 20px;
  font-size: 16pt;
  white-space: pre-wrap;
  width: 65%;
  list-style: none;
}

.author-show-page .author-index-item {
  top: 70px;
  margin-left: 20px;
  position: relative;
  width: 90%;
  float: left;
  max-height: 500px;
}

.author-show-page li {
  margin-bottom: 30px;
  border-bottom: 3px dashed brown;
}
