.book-show-page img {
  border: 2px solid black;
  height: 400px;
  width: 275px;
  float: left;
}

.book-show-page span {
  float: left;
  margin-left: 20px;
  font-size: 16pt;
  white-space: pre-wrap;
  width: 750px;

}

.book-index-item .bookshelf-menu {
  background-color: #409d69;
  text-align: center;
  max-width: 200px;
  margin-right: 2%;
  float: right;
  padding: 5px 0;
  font-weight: bold;
  border-radius: 10px;
  color: #462a15;
  font-size: 12pt;
}

.book-show-page a {
  text-decoration: none;
  float: right;
}

.book-show-page a:hover {
  color: blue;
}

.book-show-page .book-index-item ul {
  width: 700px;
  margin-left: 20px;
  position: relative;
  width: 50%;
  float: left;
  max-height: 500px;
}

.book-show-page li {
  margin-bottom: 30px;
  border-bottom: 3px dashed brown;
}


// Shelf drop down menu
.book-index-item .opened {
  padding: 5px 0;
  padding-bottom: 0;
  margin-right: 3%;
  float: right;
}

.book-index-item .closed {
  padding: 5px 0;
}

.book-index-item .bookshelf-menu .option-items {
  border-top: 2px solid black;
  border-bottom: none;
  padding: 5px 0;
  margin: 0;
  font-size: 12pt;
  font-weight: normal;
  color: inherit;
  cursor: pointer;
}

.book-index-item .bookshelf-menu .option-items:hover {
  background-color: #358257;
}

.book-index-item .bookshelf-menu .option-items:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.book-index-item .signin {
  padding: 0;
}

.book-index-item .bookshelf-menu .signin {
  border-top: none;
  display: block;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
