.bookshelf-index .book-index-item span {
  margin: 15px;
  float: left;
  white-space: pre-wrap;
}

.bookshelf-index .book-index-item img {
  float: left;
  border: 2px solid black;
}

.bookshelf-index .book-index-item {
  margin-left: 20px;
  position: relative;
}

.bookshelf-index .book-index-item .book-description {
  margin: 15px 0;
}

.bookshelf-index .book-index-item-container {
  overflow: auto;
  clear: both;
  width: 600px;
  border-bottom: 3px dashed brown;
}

.bookshelf-index .book-index-item a {
  text-decoration: underline;
}

.bookshelf-index .book-index-item a:hover {
  color: blue;
}
