.signin-form-container {
  width: 300px;
  margin: 0 auto;
  padding-top: 10%;
  text-align: center;
}

.signin-form-container h1 {
  font-size: 30pt;
  font-weight: 500;
  margin-bottom: 10px;
}

.signin-form-container input {
  height: 20px;
  width: 200px;
  margin-bottom: 10px;
  background-color: aliceblue;
}

.submit-button {
}
