// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.title {
  font-size: 20pt;
  font-weight: bold;
  display: inline-block;
  margin: 15px;
  float: left;
  color: #633b1d;
}

.button {
  width: 60px;
  height: 25px;
  font-size: 10pt;
  background-color: wheat;
  float: right;
  margin: 15px;
  margin-right: 10px;
  border-radius: 5px;
}

.welcome-msg {
  float: right;
  margin: 20px 5px;
  font-weight: bold;
}

.button:hover {
  background-color: #ffd88f;
}

.navBar {
  background-color: #e0d5c2;
  height: 60px;
  border-bottom: 1px solid black;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 1;
}

.bookshelf-index {
  position: relative;
  margin-left: 100px;
  top: 75px;
  width: 500px;
}


// check book_index_item for <b> tags
.book-index-item-container {
  margin: 20px;
  margin-top: 75px;
}

.book-index-item li {
  // max-width: 300px;
  // margin: 10px;
  list-style: none;
}

.book-index-item img {
  margin: 0 auto;
}

.browse-box {
  width: 65%;
  height: 200px;
  margin: 0 auto;
  margin-top: 100px;
}

.browse-item {
  float: left;
  margin: 20px;
}

.browse-item img {
  border: 2px solid black;
}
